<widget-top-page [title]="title" [icon]="icon" [search]="true">

  <form class="row" searchBar [formGroup]="form">

    <div class="col-auto">
      <label class="form-label">Ledger</label>
      <select formControlName="ledger" class="form-select">
        <option value="">All Ledgers</option>
        <option *ngFor="let item of ledgers" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="col-auto">
      <label class="form-label">Date From</label>
      <input type="date" formControlName="dateFrom" class="form-control">
    </div>

    <div class="col-auto">
      <label class="form-label">Date To</label>
      <input type="date" formControlName="dateTo" class="form-control">
    </div>

    <div class="col btn-wrapper">
      <button (click)="search()" class="btn btn-outline-primary me-2">
        <i class="bi bi-search me-2"></i> Search
      </button>

      <a [routerLink]="['/member', 'balance', type.toLowerCase(), 'edit']"  class="btn btn-outline-danger">
        <i class="bi bi-plus-lg me-2"></i> Add New
      </a>
    </div>
  </form>

  <widget-no-data *ngIf="list.length == 0" [name]="type"></widget-no-data>

  <table *ngIf="list.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Ledger</th>
        <th>Remark</th>
        <th class="text-end">Total Amount</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <a [routerLink]="['/member', 'balance', type.toLowerCase(), 'details']" [queryParams]="{id: item.id}" class="btn-link">
            {{item.useDate}}
          </a>
        </td>
        <td>{{item.ledger.name}}</td>
        <td>{{item.remark}}</td>
        <td class="text-end">{{item.total | number}} MMK</td>
      </tr>
    </tbody>
  </table>

</widget-top-page>
