<div class="row">
  <div class="col">
    <widget-card title="Reactive Form">
      <form [formGroup]="form">
        <widget-form-item label="Name">
          <div class="input-group">
            <input formControlName="name" type="text" class="form-control" placeholder="Enter Name">
            <span class="input-group-text">
              <i class="bi" [class.bi-x]="form.get('name')?.invalid" [class.bi-check]="form.get('name')?.valid"></i>
            </span>
          </div>
        </widget-form-item>

        <div formGroupName="contact" class="row">
          <div class="col">
            <widget-form-item label="Phone">
              <div class="input-group">
                <input formControlName="phone" type="tel" placeholder="Enter Phone" class="form-control">
                <span class="input-group-text">
                  <i class="bi bi-check"></i>
                </span>
              </div>
            </widget-form-item>
          </div>
          <div class="col">
            <widget-form-item label="Email">
              <input formControlName="email" type="email" placeholder="Enter Email" class="form-control">
            </widget-form-item>
          </div>
        </div>

        <widget-form-item formArrayName="subject" label="Subjects">
          <div class="row row-cols-2 gy-2">
            <div class="col">
              <input type="text" formControlName="0" class="form-control">
            </div>
            <div class="col">
              <input type="text" formControlName="1" class="form-control">
            </div>
            <div class="col">
              <input type="text" formControlName="2" class="form-control">
            </div>
            <div class="col">
              <input type="text" formControlName="3" class="form-control">
            </div>
          </div>
        </widget-form-item>
      </form>
    </widget-card>
  </div>

  <div class="col-4">

    <widget-card title="Form Status">
      <p>{{form.status}}</p>
    </widget-card>

    <widget-card title="Form Value">
      <pre>{{form.value | json}}</pre>
    </widget-card>
  </div>
</div>
