<h3>Event Binding Demo</h3>

<div class="calculator p-1">
  <div class="display d-flex justify-content-end p-1">
    <span>0</span>
  </div>

  <div class="row gx-1 mt-1">
    <div class="col">
      <app-cal-button text="AC"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="+/-"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="%"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="/" color="orange"></app-cal-button>
    </div>
  </div>

  <div class="row gx-1 mt-1">
    <div class="col">
      <app-cal-button text="7"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="8"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="9"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="*" color="orange"></app-cal-button>
    </div>
  </div>

  <div class="row gx-1 mt-1">
    <div class="col">
      <app-cal-button text="4"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="5"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="6"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="-" color="orange"></app-cal-button>
    </div>
  </div>

  <div class="row gx-1 mt-1">
    <div class="col">
      <app-cal-button text="1"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="2"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="3"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="+" color="orange"></app-cal-button>
    </div>
  </div>

  <div class="row gx-1 mt-1">
    <div class="col-6">
      <app-cal-button text="0" color="orange"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="." color="orange"></app-cal-button>
    </div>
    <div class="col">
      <app-cal-button text="=" color="orange"></app-cal-button>
    </div>
  </div>
</div>
