<form [formGroup]="form">

  <h4><i class="bi bi-person-add"></i> Member Sign Up</h4>

  <widget-form-item label="Name">
    <input formControlName="name" type="text" placeholder="Enter Member Name" class="form-control">
  </widget-form-item>

  <widget-form-item label="Login Id">
    <input formControlName="loginId" type="text" placeholder="Enter Login Id" class="form-control">
  </widget-form-item>

  <widget-form-item label="Password">
    <input formControlName="password" type="password" placeholder="Enter Password" class="form-control">
  </widget-form-item>

  <div>
    <a [routerLink]="['../sign-in']" class="btn btn-outline-primary me-2">
      <i class="bi bi-person-check"></i> Sign In
    </a>

    <button (click)="signUp()" class="btn btn-outline-danger">
      <i class="bi bi-unlock"></i> Sign Up
    </button>
  </div>
</form>
