<form>

  <h4><i class="bi bi-person-check"></i> Member Login</h4>

  <widget-form-item label="Login Id">
    <input type="text" placeholder="Enter Login Id" class="form-control">
  </widget-form-item>

  <widget-form-item label="Password">
    <input type="password" placeholder="Enter Password" class="form-control">
  </widget-form-item>

  <div>
    <a [routerLink]="['../sign-up']" class="btn btn-outline-primary me-2">
      <i class="bi bi-person-add"></i> Sign Up
    </a>

    <button class="btn btn-outline-danger">
      <i class="bi bi-unlock"></i> Sign In
    </button>
  </div>
</form>
