<widget-top-page [icon]="icon" title="Balance Details">

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Ledger</label>
      <span class="form-control">{{balance?.ledger.name}}</span>
    </div>

    <div class="col-3">
      <label class="form-label">Use Date</label>
      <span class="form-control">{{balance?.useDate}}</span>
    </div>

    <div class="col-3">
      <label class="form-label">Total Amount</label>
      <span class="form-control">{{total | number}} MMK</span>
    </div>
  </div>

  <div class="mb-4">
    <label class="form-label">Remark</label>
    <p class="form-control">{{balance?.remark || 'No Remark'}}</p>
  </div>

  <h5>
    <i class="bi bi-list-check"></i> Details Items
  </h5>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Reason</th>
        <th class="text-end">Unit Price</th>
        <th class="text-end">Quentity</th>
        <th class="text-end">Total</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of balance?.items; index as i">
        <td>{{i + 1}}</td>
        <td>{{item.reason}}</td>
        <td class="text-end">{{item.unitPrice | number}}</td>
        <td class="text-end">{{item.quentity}}</td>
        <td class="text-end">{{(item.unitPrice * item.quentity) | number}}</td>
      </tr>
    </tbody>
</table>

<a [routerLink]="['/member', 'balance', type?.toLowerCase(), 'edit']" [queryParams]="{id: balance?.id}" class="btn btn-outline-danger">
  <i class="bi bi-pencil me-2"></i> Edit
</a>
</widget-top-page>
